<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:wght@300;400;500;600;700&family=Shizuru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo2.png" width="100px" height="100px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/all">Products</a></li>    
                        <li><a href="/new">Add New Product</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="small-container">

        <div class="row row-2">
        <h2 class="title">All Products</h2>

    <div class="search_box">
      <form action="/search" method="post"> 
        <input type="text" style="width:200px" value="Search" name="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
        <input type="button" style="width:70px" value="Search" onclick="document.forms[0].submit();">
      </form>
    </div>
    </div>
    <br>

    <div class="row">
        {{#each results}}
        <div class="col-4">
            {{name}}
                <br>
                <img src="{{picture}}" alt="" width="150" height="100">
                <p style ="color: {{func price}}" >{{price}}</p>
                <a href="/delete?id={{_id}}"  onclick="return confirm('Are You sure You want to delete this product?')" style="orange">Delete</a>
                <a href="/edit?id={{_id}}" style="orange">Edit</a>
        </div>
        {{/each}}
    </div>

    
<!-- footer-->
    <div class="footer" id="footer">
        <hr>
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="/images/play-store.png">
                        <img src="/images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <h3>Hot Lines</h3>
                    <ul>
                        <li>Technical Support: 9999 9999</li>
                        <li>Call To Order: 1234 5678 </li>
                        <li>Delivery Support: 1000 1000</li>
                        <li>Feedback: 4949 2202</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Services</h3>
                    <ul>
                        <li>Opening Hours</li>
                        <li>Delivery Policy</li>
                        <li>Return Policy</li>
                        <li>Payment Policy</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">This Is A School Project - Greenwich VN - GCH1003 - by Tran Anh</p>
        </div>
    </div>
</body>
</html>