<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
     <link rel="stylesheet" href="/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:wght@300;400;500;600;700&family=Shizuru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo2.png" width="100px" height="100px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/all">Products</a></li>    
                        <li><a href="/new">Add New Product</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="add-page">
    <div class="addform-container">
        <div class="form-btn">
            <h2 style="padding-top: 35px">Edit Items</h2>
        </div>
    <form action="/edit" method="post">
        <table>
            <tr>
                <input type="hidden" name="id" value="{{product._id}}">
                <td  inputtype="text" width="20%"name="txtName"> Name: </td>
                <td width="80%"><input type="text" style="width:80%" name="txtName" value="{{product.name}}"></td>
                <p class="Notice"> {{nameError}}</p>
            </tr>
            <tr>
                <td inputtype="text" name="txtPic" width="20%" >Images:</td>
                <td width="80%"><input type="text" style="width:80%" name="txtPic" value="{{product.picture}}"></td>
                <p class="Notice"> {{picError}}</p>
            </tr>
            <tr>
                <td inputtype="text" name="txtPrice"width="20%">Price:</td>
                <td width="80%"><input type="text" style="width:80%"  name="txtPrice" value="{{product.price}}"></td>
                <p class="Notice"> {{priceError}}</p>
            </tr>
            <tr>
                <td></td>
                <td style="padding: 100px"><input style="width:70px" type="submit" name="Editproduct" class="btn" value="Update Product"></td>
            </tr>
        </table>
    </form>    
        </div>
    </div>
</div>
</body>
</html>